<div class="container">
  <br>
  <br>
            <h1>Rugnet</h1>
            <h2>-子供の成長と健康を記録しよう！-</h2>

            このアプリは様々な地域から生徒が集まる団体をサポートするアプリケーションです。<br>
            健康管理の記録が残せ、保護者同士が情報交換できるプラットフォームとなります。<br>
            子供の成長や練習状況の記録など使い方は様々です。<br>
            皆さんの交流のきっかけを与えてくれるツール。
</div><br><br>
<% if user_signed_in? %>
<% elsif %>
  <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "link_color1" %>
  <%= link_to 'ゲストログイン（管理者）', users_guest_admin_sign_in_path, method: :post, class: "link_color2" %>
  <%= link_to 'ゲストログイン（コーチ）', users_guest_coach_sign_in_path, method: :post, class: "link_color3" %>
<% end %>
<br>
<br>
<br>
  <div class="top-index_slideshow">
    <div class="box top-index_slideshow_box">
      <div class="bgImg src1"></div>
      <div class="bgImg src2"></div>
      <div class="bgImg src3"></div>
      <div class="bgImg src4"></div>
      <div class="bgImg src5"></div>
      <div class="bgImg src6"></div>
    </div>
  </div>
