<%= render'application/sidebar' %>
<% @user.followers.each do |user| %>
<table class="follower">
  <tr>
    <td>  <%= user.name %> </td>
    <td><%= link_to '詳細', user_path(user) %></td>
  </tr>
</table>
<% end %>
