// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_students {
  text-align: center;
  position: absolute;
  top: 35%;
  left: 30%;
  transform: translateY(-50%);
  // margin: auto;
}
.old_students {
  text-align: center;
  position: absolute;
  top: 25%;
  left: 30%;
  transform: translateY(-50%);
  // margin: auto;
}
